<div class="shift-container">


  <div class="socket-connent" *ngIf="isContestant === 'thisinh'">
    <div class="dot" [ngClass]="stateSocket ? 'actice' :''"></div>
    <div class="title">{{ stateSocket ? 'Đã kết nối' : 'Chưa được kết nối' }}</div>
  </div>
  <div class="copy-right intro-x" #copyRight>
    <div class="copy-right_img">
      <img src="assets/images/logo__ictu.png" alt="">
    </div>
    <div class="copy-right_content copy-right-custom" #copyRightCustom>
      <div class="text-1"> HỆ THỐNG ĐƯỢC XÂY DỰNG BỞI</div>
      <div class="text-2"> <span> <strong>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN VÀ TRUYỀN THÔNG</strong></span> <span > - ĐẠI HỌC THÁI NGUYÊN </span></div>
      <div class="text-3"> <span class="mr-4">www.ictu.edu.vn </span><span class="mr-4">fb.com/ictu.vn</span><span>ttptpm@ictu.vn</span></div>
    </div>
  </div>

  <div class="login-container">
    <div *ngIf="!viewLogout else notView" class="login-user" (click)="btnViewLogOut(true)">
      <img [src]="user.avatar" alt="">
      <div class="">{{ user.display_name }}</div>
    </div>
    <ng-template #notView>
      <div class="login-user" (click)="btnViewLogOut(false)">
        <img [src]="user.avatar" alt="">
        <div class="">{{ user.display_name }}</div>
      </div>
      <div class="login-result" (click)="btnRouterResult()">
        <div class="logout-icon">
          <i class="pi pi-check-circle"></i>
        </div>
        <div>Kết quả thi</div>
      </div>
      <div class="login-logout" (click)="signOut()">
        <div class="logout-icon">
          <i class="pi pi-sign-out"></i>
        </div>
        <div>Đăng xuất</div>
      </div>
    </ng-template>
  </div>

  <div class="shift-content">
    <div class="shift-content-top">
      <img src="assets/images/bandanvan/logo_bandanvan.png" alt="">
      <div>HỘI THI</div>
      <div>“DÂN VẬN KHÉO” TỈNH THÁI NGUYÊN NĂM 2024</div>
      <div>PHẦN THI KIẾN THỨC</div>
    </div>
    <ng-container [ngSwitch]="state ">
      <ng-container *ngSwitchCase="'loading'">
        <div class="loading-container">
          <div class="loading-item">
            <div class="loading-item__icon pi pi-spin">
              <i class="fa fa-spinner" aria-hidden="true"></i>
            </div>
            <div class="loading-item__content">
              Vui lòng chờ
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'data'">
        <div class="shift-content-body">
          <div class="shift-data">
            <div class="shift-data_item -intro-x" *ngFor="let item of dsDotthi" [ngClass]="select_id === item.id ? 'active':''"
                 (click)="btnSelectId(item.id)">
              <img src="assets/images/bandanvan/logo_bandanvan.png" alt="">
              <div>{{ item.title }}</div>

            </div>
          </div>
          <div class="custom-button-start" (click)="btnTest()">
            <div>Bắt đầu thi</div>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </div>


</div>
