<ng-container [ngSwitch]="testView">
  <ng-container *ngSwitchCase="'question'">
    <div class="panel-container" >
      <div class="panel-left">
        <div class="panel-arrow">
          <i class="pi pi-angle-left"></i>
        </div>
      </div>
      <div class="panel-center">
        <div class="panel-center-header">
          <div class="panel-center-header_item justify-content-between">

            <div class="panel-center-header_item-left">
              <div class="panel-center-header_item-left__user" >
                <img [src]="user.avatar" alt="">
                <div>{{user.display_name}}</div>
              </div>
            </div>
            <div class="panel-center-header_item-right">
              <div class="counter-clock-wrap h-100" (click)="callSocketStartQuestion()">
                <div class="d-inline timer">{{ getFormattedTime() }}</div>
              </div>
            </div>
          </div>
          <div class="panel-center-header_item justify-content-center">
            <div class="title">PHẦN THI KIẾN THỨC</div>
          </div>
        </div>
        <div *ngIf="questionSelect" class="panel-center-body intro-x">

          <div class="panel-center-body_left">
            <div class="panel-center-body_left-header"> {{'Câu '+ (curentQuestionNumber+1) }}</div>
            <div class="panel-center-body_left-title" >
              <div [innerHtml]="questionSelect.title |ovicSafeHtml"></div>
            </div>
          </div>
          <div class="panel-center-body_right">
            <div  class="panel-center-body_right-answer-options">
              <div *ngIf="!viewAnswer else showAnswer">
                <app-groups-radio [options]="questionSelect.answer_options" [freeze]="questionSelect['__freeze']" [options_sty]="questionSelect.options_sty"></app-groups-radio>
                <!--            <groups-radio [options]="questionSelect.answer_options" [freeze]="questionSelect['__freeze']" [options_sty]="questionSelect.options_sty"></groups-radio>-->

              </div>
              <ng-template #showAnswer>
                <app-groups-radio [options]="questionSelect.answer_options" [correctAnswer]="questionSelect['__answer_coverted']" [freeze]="questionSelect['__freeze']" [options_sty]="questionSelect.options_sty"></app-groups-radio>

              </ng-template>
            </div>
          </div>

<!--          <p-splitter class="custom-by-mc h-100"  [style]="{'height': '100%'}" [panelSizes]="[40,60]">-->
<!--            <ng-template pTemplate>-->
<!--              <div class="panel-center-body_item">-->
<!--                <div class="panel-center-body_item-title" >-->
<!--                  <div [innerHtml]="questionSelect.title |ovicSafeHtml"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--            <ng-template pTemplate>-->
<!--              <div class="panel-center-body_item">-->

<!--              </div>-->
<!--            </ng-template>-->
<!--          </p-splitter>-->
        </div>
        <div *ngIf="shiftTestQuestion && shiftTestQuestion.length>0 else notFooter " class="panel-center-footer intro-y">
          <div *ngFor="let item of shiftTestQuestion" class="panel-center-footer_item" [ngClass]="item['__score'] ? 'active':''">
            <div class="panel-center-footer_item-avatar">
              <img [src]="item['__avatar']" alt="">
            </div>
            <div class="panel-center-footer_item-name">
              {{item['__display_name']}}
            </div>
            <div *ngIf="item.answer && time_clone_for_end === 0 else notAnswer" class="panel-center-footer_item-answer">
              <div>{{item['__answer_converted']}}</div>
            </div>
            <ng-template #notAnswer>
              <div  class="panel-center-footer_item-answer">
                <div *ngIf="time_clone_for_end !== 0 else notCheck" class="pi pi-spin"> <i class="fa fa-spinner"></i></div>
                <ng-template #notCheck>
                  <div>{{item['__answer_converted']}}</div>
                </ng-template>
              </div>
<!--              <div class="loading-item__icon  pi pi-spin">-->
<!--                <i class="fa fa-spinner" aria-hidden="true"></i>-->

            </ng-template>

          </div>


        </div>
        <ng-template #notFooter>
          <div class="panel-center-footer"></div>
        </ng-template>
        <div class="panel-center-footer-bottom"></div>
      </div>


      <div class="panel-right">
        <div class="panel-arrow" (click)="btnNextQuestion()">
          <i class="pi pi-angle-right"></i>
        </div>
      </div>
<!--      <div class="pannel-header">-->
<!--        <div class="pannel-header-top">-->
<!--          <div class="pannel-header-top-left">-->
<!--            <div class="pannel-header-top-left_item">-->
<!--              <div class="panel_mc_header-item__img">-->
<!--                <img [src]="user.avatar" alt="">-->
<!--              </div>-->
<!--              <div class="panel_mc_header-item__name">-->
<!--                {{user.display_name}}-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="pannel-header-top-left_item"></div>-->
<!--          </div>-->
<!--          <div class="pannel-header-top-right">-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

    </div>

  </ng-container>
  <ng-container *ngSwitchCase="'loading'">
  </ng-container>
  <ng-container *ngSwitchCase="'data_question'">
  </ng-container>
  <ng-container *ngSwitchCase="'data_all'">
    <div class="panel-container" >
      <div class="panel-left">
        <div class="panel-arrow d-none">
          <i class="pi pi-angle-left"></i>
        </div>
      </div>
      <div class="panel-center">
        <div class="panel-center-header">
          <div class="panel-center-header_item justify-content-between">

            <div class="panel-center-header_item-left">
              <div class="panel-center-header_item-left__user" >
                <img [src]="user.avatar" alt="">
                <div>{{user.display_name}}</div>
              </div>
            </div>
            <div class="panel-center-header_item-right">
              <div class="counter-clock-wrap h-100" >
                <div class="d-inline timer">{{ getFormattedTime() }}</div>
              </div>
            </div>
          </div>
          <div class="panel-center-header_item justify-content-center">
            <div class="title"> KẾT QUẢ </div>
          </div>
          <div class="panel-center-header_item justify-content-center">
            <div class="title">PHẦN THI KIẾN THỨC</div>
          </div>
        </div>
        <div class="panel-center-body">
          <div class="panel-center-body_data">
            <div class="panel-center-body_data_header">
              <div class="panel-center-body_data_header-name">TÊN ĐƠN VỊ</div>
              <div class="panel-center-body_data_header-answer">TRẢ LỜI ĐÚNG</div>
              <div class="panel-center-body_data_header-total">TỔNG ĐIỂM</div>
            </div>
            <div class="panel-center-body_data_content">
              <div *ngFor="let item of shiftTest" class="panel-center-body_data_content-item" >
                <div class="name">
                  <img [src]="item['__avatar']" alt="">
                  <div> {{item['__name_coverted']}}</div>
                </div>
                <div class="answer">{{item['__answer_convert']}}</div>
                <div class="total"> {{item['__total_score']}}</div>
              </div>
            </div>
            <div class="footer-signout">
              <button pRipple pButton class="p-button-warning" icon="pi pi-sign-out" iconPos="right" label="Thoát" (click)="btnOutTest()"></button>
            </div>
          </div>

        </div>

      </div>
      <div class="panel-right">
        <div class="panel-arrow d-none" (click)="btnNextQuestion()">
          <i class="pi pi-angle-right"></i>
        </div>
      </div>
    </div>



  </ng-container>
</ng-container>




<ng-template #notifiTest>
  <div class="notifi-container">
    <div class="title">Thông báo</div>
    <div class="content">Hết thời gian</div>
    <div class="btn_notifi">
      <button pRipple pButton label="Xem đáp án " (click)="btnSubmitTimeEnd()" ></button>
    </div>
  </div>
</ng-template>
