*{
  --cl-shadow-text:#fff;
  --cl-bg-in-test:#db0a0a;
  --cl-text-in-test:#ffea00;
}
/*----------------------copy Right-------------------------*/
.copy-right{
  position:absolute;
  left:10px;
  bottom:10px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  padding:4px;
  width:auto;
  /*background: #FFE100CC;*/

}

.copy-right_img{
  padding: 0 6px;
  width:66px;

}
.copy-right_img img{
  width:100%;
}
.copy-right_content{
  /*padding-left:6px;*/
  /*width:1%;*/
  /*flex:1 1 auto;*/
  width: calc(100% - 66px);
  font-family:Roboto, sans-serif;
  color:#fff;

}
.copy-right_content div{
  color:#006CB5;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-shadow: -2px -2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
  font-family:Roboto, sans-serif;
}
.copy-right_content .text-1{
  font-size:14px;
}
.copy-right-custom{
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display:flex;
  flex-direction:column;
  /*animation: moveText 2.5s linear forwards;*/
}
.copy-right-custom div, .copy-right-custom ul{
  display: inline-block;
  position: relative;
  /*animation: moveText 5s linear infinite;*/
}
@keyframes moveText {
  0% {
    left: 100%; /* Bắt đầu từ bên phải */
    opacity: 1; /* Hiển thị lúc bắt đầu */
  }
  80% {
    left: 0%; /* Di chuyển về bên trái */
    opacity: 1;
  }
  100% {
    left: -100%; /* Ẩn ra ngoài khung bên trái */
    opacity: 0; /* Biến mất */
  }
}
/* Ẩn hoàn toàn copy-right */
.hidden {
  display: none !important; /* Ẩn phần tử */
}
/*----------------------Loadding---------------------------*/
.loading-container{
  display: flex;
  /*height: 100%;*/
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
.loading-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 11px;
  background: linear-gradient(180deg, #FFFFFF 17.01%, #FFCECE 97.52%);
  color: #9D0003;
}
.loading-item__icon{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  font-size:40px;

}
.loading-item__content{
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/*-------------------- end loadding ------------------*/


/*------------------- Shift-container ----------------*/
.shift-container{
  width:100%;
  height:100vh;
  z-index:100000;
  position:relative;
  background-color: #db0a0a;
  display:flex;
  flex-direction:column;
  background-image: url('/assets/images/bandanvan/background.png');
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;

}
.login-container{
  position:absolute;
  top:12px;
  left:12px;
  background: #D9D9D980;
  min-height: 50px;
  /*padding: 4px;*/
  display: flex;
  flex-direction:column;
  border-radius:30px;
  border:1px solid #ffffff;
}
.login-user{
  height: 50px;
  min-width: 200px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
}
.login-user img{
  height:100%;
}
.login-user div{

  color: #C10A0A;
  font-weight: 600;
  font-family: Roboto, sans-serif;
}

.login-logout{
  display: flex;
  /* padding: 5px 5px 5px 27px; */
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: 15px;
  border-top: 1px solid #fff;
  height: 50px;
  color: #fff;
}

.login-user:hover{
  cursor: pointer;
}
.login-logout:hover{
  background: #e43d21;
  cursor: pointer;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;

}

.bandanvan-logo{
  position:absolute;
  top:20px;
  right:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:#fff;
  font-family:Times New Roman, serif;
  font-size:18px;
}
.bandanvan-logo img{
  width:80px;
  margin-bottom:6px;
}
.bandanvan-logo div{
  /*margin-bottom:10px;*/
  font-weight:700;

}

.btn-logout{
  position:absolute;
  top:0;
  right:0;
  padding:5px;
  border:2px solid #FFEA00;
  height:50px;
  border-bottom-left-radius: 20px;
  border-top: none;
  border-right: none;
  background: #a50202;
}
.btn-logout button{
  border-radius: 0;
  border-bottom-left-radius: 14px;
}


.img-top-left{
  position:absolute;
  top:0;
  left:0;
  width:300px;
  z-index:-1;
}
.img-right-bottom{
  position:absolute;
  right:0;
  bottom:0;
  width:300px;
  z-index:-1;
}
.img-ovan-center{
  position:absolute;
  left: 25%;
  top: 30%;
  width: 400px;
  z-index: -1;

}
.img-top-right{
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 12%;
  top: 31%;
}

.img-top-left img,.img-right-bottom img,.img-ovan-center img{
  width:100%;
}
.socket-connent{
  position:absolute;
  bottom:12px;
  right:12px;
  display:flex;
  align-items:center;
  font-size:14px;
  font-weight:500;
  gap:10px;
  color:#fff;
}
.socket-connent .dot{
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: RED;
  box-shadow: 0 0 10px red;

}
.socket-connent .dot.actice{
  background: #1aff00 !important;
  box-shadow: 0 0 10px #1aff00 !important;
}

/*----------------------------------------------------*/
.shift-content{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  width:100%;
  height:100%;
  padding:20px 0;

  margin-top:40px;

}
.shift-content-header{
  padding-top: 24px;
  text-align:center;
}
.shift-content-header img{
  width:100px;
  margin-bottom:16px;
}
.shift-content-header div{
  font-size:20px;
  font-family:Times New Roman, serif;
  font-weight:500;
  color: #fff;
  line-height: 30px;
  text-shadow: 0 0 2px var(--cl-shadow-text);
}
.shift-content-top{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:20px;
  padding: 20px 0 ;
  margin-bottom:30px;
}
.shift-content-top img{
  width:150px;
  height:150px;
  margin-bottom:20px;
}
.shift-content-top div{
  font-size: 50px;
  font-weight: 600;
  font-family: Times New Roman, serif;
  text-transform: uppercase;
  color: #FF0004;
  line-height: 50px;
  /* text-shadow: 0 0 2px var(--cl-shadow-text); */
  text-shadow: -2px -2px 2px #FFF, 2px -2px 2px #fff, -2px 2px 2px #fff, 2px 2px 2px #fff;
}
.shift-content-body{
  margin-top:40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.shift-content-body button{
  border-radius: 40px;
  height: 40px;
  margin: 20px 0;
  width: 120px;
}
.user-data{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.user_item{
  width: calc(100% / 3 - 40px);
  height: 56px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #008DED;
  border-radius: 10px;
  color: #fff;

}
.user_item-left{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.user_item-left img{
  height:100%;
  padding:2px;
  border-radius: 8px;
  background:#fff;
}
.user_item-left span, .user_item-left div{
  font-size:16px;
  font-weight:500;
  font-family: Roboto, sans-serif;
}
.user_item-left div{
  padding-right:10px;
}
.custom-button-start{
  margin-top: 40px;
  height: 42px;
  padding: 10px 20px;
  border-radius: 50px;
  background: #008DED;
  width: 150px;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;

}
.custom-button-start div{
  font-size:18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family:Roboto, sans-serif;
}
.custom-button-start:hover{
  cursor:pointer;
  background: #007acc;
  color:#fff;
}






@media (max-width: 768px) {
  .shift-content-top div{
    font-size:24px;
    text-align:center;
  }
  .shift-content-body{
    margin-top:24px;
  }
  .copy-right_img{
    width: 60px;
  }
  .copy-right_content li{
    font-size:11px;
  }
}
@media (max-width: 325px) {
  .shift-content-top{
    margin-top:0;
    padding:10px 0;
    gap:0;
  }

  .shift-content-top div{
    font-size:16px;
    text-align:center;
  }

  .shift-content-body{
    margin-top:16px;
  }

  .copy-right_img{
    width: 60px;
  }
  .copy-right_content li{
    font-size:10px;
  }
}
