
<div class=" w-100 d-flex justify-content-center align-items-center flex-column" style="background:#E8E5E5">


  <div class="ovic-chat-container h-100 w-100 container">
    <div class="row">
      <div class="col-12">
        <ovic-test-checkbox [form]="question" [type_question]="'radio'"></ovic-test-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ovic-test-checkbox [form]="question1" [type_question]="'checkbox'"></ovic-test-checkbox>
      </div>
    </div>
  </div>

</div>
